.text-center {
  text-align: center;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.done {
  background-color: #395169;

  & h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
  }
}