@import '../base/base.css';

.alert-item {
  padding: 0 5px 0 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: var(--clr-neutral);

  & p {
    margin: .5em 0;
  }
}