@import '../base/base.css';

.wrapper {
  max-width: 30em;
  margin: 3em auto;
  /* background-color: var(--clr-neutral); */
  padding: 1.5em;
  border-radius: .75em;
}

header {
  padding: 0 1em 1em;
  border-bottom: 1px solid #ccc;
}


form[data-js="todo-form"],
form[data-js="edit-form"] {
  padding: 1em;
  border-bottom: 1px solid #ccc;

  & p {
    margin-bottom: .5em;
    font-weight: 700;
  }

  & .form-control {
    display: flex;

    & input {
      margin-right: .3em;
    }
  }
}

form[data-js="edit-form"] {
  & button[data-js="cancel-edit-btn"] {
    margin-top: 1em;
  }
}

.toolbar {
  padding: 1em;
  border-bottom: 1px solid #ccc;
  display: flex;

  
  & .search {
    border-right: 1px solid #ddd;
    padding-right: 1em;
    margin-right: 1em;
    width: 65%;
    display: flex;
    flex-direction: column;

    & h4 {
      margin-bottom: .5em;
    }

    & form {
      display: flex;

      & input {
        width: 100%;
        margin-right: .25em;
      }
    }
  }

  & .filter {
    width: 35%;
    display: flex;
    flex-direction: column;

    & select {
      padding: 0.25em;
      flex: 1;
    }
  }
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #ddd;
  transition: .3s;

  & h3 {
    flex: 1;
    font-size: 1em;
  }

  & button {
    margin-left: .5em;
  }
}